.header {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    &__logo {
        padding-top: 30px;
        max-width: 300px;
        margin: 0 auto;
    }

    &__title {
        padding-top: 10px;
        margin: 0 auto;
        background-image: linear-gradient(333deg, rgba(82, 253, 26, 1) 0%, rgba(249, 182, 36, 1) 88%);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }

    &__search {
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
    }

    &__inner {
        width: 70%;
    }

    &__button {
        width: 300px;
        margin: 0 auto;
    }
}